//! **************************************************************************
// Written by: Map P.20131013 on Fri Jun 12 13:36:56 2015
//! **************************************************************************

SCHEMATIC START;
COMP "CAMERA_VS" LOCATE = SITE "U14" LEVEL 1;
COMP "processing_system7_0_DDR_DM<0>" LOCATE = SITE "A1" LEVEL 1;
COMP "processing_system7_0_DDR_DM<3>" LOCATE = SITE "Y1" LEVEL 1;
COMP "processing_system7_0_DDR_DM<2>" LOCATE = SITE "T1" LEVEL 1;
COMP "processing_system7_0_DDR_DM<1>" LOCATE = SITE "F1" LEVEL 1;
COMP "CAMERA_HS" LOCATE = SITE "P14" LEVEL 1;
COMP "processing_system7_0_DDR_ODT" LOCATE = SITE "N5" LEVEL 1;
COMP "processing_system7_0_DDR_DQS_n<0>" LOCATE = SITE "B2" LEVEL 1;
COMP "processing_system7_0_DDR_DQS_n<1>" LOCATE = SITE "F2" LEVEL 1;
COMP "processing_system7_0_DDR_DQS_n<2>" LOCATE = SITE "T2" LEVEL 1;
COMP "processing_system7_0_DDR_DQS_n<3>" LOCATE = SITE "W4" LEVEL 1;
COMP "processing_system7_0_I2C0_SCL" LOCATE = SITE "V15" LEVEL 1;
COMP "processing_system7_0_I2C0_SDA" LOCATE = SITE "T11" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<9>" LOCATE = SITE "J4" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<8>" LOCATE = SITE "K1" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<7>" LOCATE = SITE "K4" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<6>" LOCATE = SITE "L4" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<5>" LOCATE = SITE "L1" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<4>" LOCATE = SITE "M4" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<3>" LOCATE = SITE "K3" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<2>" LOCATE = SITE "M3" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<1>" LOCATE = SITE "K2" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<0>" LOCATE = SITE "N2" LEVEL 1;
COMP "processing_system7_0_DDR_DQS<0>" LOCATE = SITE "C2" LEVEL 1;
COMP "processing_system7_0_DDR_CAS_n" LOCATE = SITE "P5" LEVEL 1;
COMP "BLUE<1>" LOCATE = SITE "M20" LEVEL 1;
COMP "BLUE<2>" LOCATE = SITE "K19" LEVEL 1;
COMP "processing_system7_0_DDR_DQS<3>" LOCATE = SITE "W5" LEVEL 1;
COMP "BLUE<3>" LOCATE = SITE "J18" LEVEL 1;
COMP "processing_system7_0_DDR_DQS<2>" LOCATE = SITE "R2" LEVEL 1;
COMP "BLUE<4>" LOCATE = SITE "G19" LEVEL 1;
COMP "processing_system7_0_DDR_DQS<1>" LOCATE = SITE "G2" LEVEL 1;
COMP "BLUE<0>" LOCATE = SITE "P20" LEVEL 1;
COMP "processing_system7_0_DDR_RAS_n" LOCATE = SITE "P4" LEVEL 1;
COMP "CAMERA_PCLK" LOCATE = SITE "V17" LEVEL 1;
PIN CAMERA_PCLK_pin<0> = BEL "CAMERA_PCLK" PINNAME PAD;
PIN "CAMERA_PCLK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "CAMERA_DATA<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "CAMERA_DATA<2>" LOCATE = SITE "W16" LEVEL 1;
COMP "CAMERA_DATA<3>" LOCATE = SITE "V12" LEVEL 1;
COMP "CAMERA_DATA<4>" LOCATE = SITE "V13" LEVEL 1;
COMP "CAMERA_DATA<0>" LOCATE = SITE "H15" LEVEL 1;
COMP "CAMERA_DATA<5>" LOCATE = SITE "U17" LEVEL 1;
COMP "CAMERA_DATA<6>" LOCATE = SITE "T17" LEVEL 1;
COMP "CAMERA_DATA<7>" LOCATE = SITE "Y17" LEVEL 1;
COMP "processing_system7_0_DDR_BankAddr<1>" LOCATE = SITE "R4" LEVEL 1;
COMP "processing_system7_0_DDR_BankAddr<2>" LOCATE = SITE "J5" LEVEL 1;
COMP "processing_system7_0_DDR_BankAddr<0>" LOCATE = SITE "L5" LEVEL 1;
COMP "processing_system7_0_DDR_Clk" LOCATE = SITE "L2" LEVEL 1;
COMP "GREEN<5>" LOCATE = SITE "F20" LEVEL 1;
COMP "GREEN<1>" LOCATE = SITE "N20" LEVEL 1;
COMP "GREEN<2>" LOCATE = SITE "L19" LEVEL 1;
COMP "GREEN<3>" LOCATE = SITE "J19" LEVEL 1;
COMP "GREEN<4>" LOCATE = SITE "H20" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<0>" LOCATE = SITE "C3" LEVEL 1;
COMP "GREEN<0>" LOCATE = SITE "H18" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<4>" LOCATE = SITE "D3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<2>" LOCATE = SITE "A2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<1>" LOCATE = SITE "B3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<8>" LOCATE = SITE "E2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<7>" LOCATE = SITE "E1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<6>" LOCATE = SITE "C1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<5>" LOCATE = SITE "D1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<9>" LOCATE = SITE "E3" LEVEL 1;
COMP "CAMERA_XCLK" LOCATE = SITE "T14" LEVEL 1;
COMP "led_io<0>" LOCATE = SITE "M14" LEVEL 1;
COMP "VGA_HS" LOCATE = SITE "P19" LEVEL 1;
COMP "led_io<3>" LOCATE = SITE "D18" LEVEL 1;
COMP "led_io<2>" LOCATE = SITE "G14" LEVEL 1;
COMP "led_io<1>" LOCATE = SITE "M15" LEVEL 1;
COMP "VGA_VS" LOCATE = SITE "R19" LEVEL 1;
COMP "processing_system7_0_DDR_WEB" LOCATE = SITE "M5" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<30>" LOCATE = SITE "V2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<31>" LOCATE = SITE "V3" LEVEL 1;
COMP "processing_system7_0_DDR_VRN" LOCATE = SITE "G5" LEVEL 1;
COMP "processing_system7_0_DDR_VRP" LOCATE = SITE "H5" LEVEL 1;
COMP "RED<0>" LOCATE = SITE "M19" LEVEL 1;
COMP "RED<1>" LOCATE = SITE "L20" LEVEL 1;
COMP "RED<2>" LOCATE = SITE "J20" LEVEL 1;
COMP "RED<3>" LOCATE = SITE "G20" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<20>" LOCATE = SITE "T4" LEVEL 1;
COMP "RED<4>" LOCATE = SITE "F19" LEVEL 1;
COMP "processing_system7_0_DDR_Clk_n" LOCATE = SITE "M2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<24>" LOCATE = SITE "V1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<23>" LOCATE = SITE "U3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<22>" LOCATE = SITE "U2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<21>" LOCATE = SITE "U4" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<28>" LOCATE = SITE "Y2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<27>" LOCATE = SITE "Y4" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<26>" LOCATE = SITE "W1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<25>" LOCATE = SITE "Y3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<29>" LOCATE = SITE "W3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<10>" LOCATE = SITE "G3" LEVEL 1;
COMP "processing_system7_0_DDR_CS_n" LOCATE = SITE "N1" LEVEL 1;
COMP "push_io<0>" LOCATE = SITE "R18" LEVEL 1;
COMP "push_io<2>" LOCATE = SITE "V16" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<14>" LOCATE = SITE "H1" LEVEL 1;
COMP "push_io<1>" LOCATE = SITE "P16" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<13>" LOCATE = SITE "H2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<12>" LOCATE = SITE "J3" LEVEL 1;
COMP "push_io<3>" LOCATE = SITE "Y16" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<11>" LOCATE = SITE "H3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<18>" LOCATE = SITE "R3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<17>" LOCATE = SITE "P3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<16>" LOCATE = SITE "P1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<15>" LOCATE = SITE "J1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<19>" LOCATE = SITE "R1" LEVEL 1;
COMP "clk" LOCATE = SITE "L16" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<13>" LOCATE = SITE "D4" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<14>" LOCATE = SITE "F4" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<11>" LOCATE = SITE "G4" LEVEL 1;
COMP "processing_system7_0_DDR_CKE" LOCATE = SITE "N3" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<12>" LOCATE = SITE "E4" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<10>" LOCATE = SITE "F5" LEVEL 1;
COMP "switch_io<0>" LOCATE = SITE "G15" LEVEL 1;
COMP "switch_io<2>" LOCATE = SITE "W13" LEVEL 1;
COMP "switch_io<1>" LOCATE = SITE "P15" LEVEL 1;
COMP "switch_io<3>" LOCATE = SITE "T16" LEVEL 1;
COMP "processing_system7_0_DDR_DRSTB" LOCATE = SITE "B4" LEVEL 1;
COMP "processing_system7_0_MIO<45>" LOCATE = SITE "B15" LEVEL 1;
COMP "processing_system7_0_MIO<48>" LOCATE = SITE "B12" LEVEL 1;
COMP "processing_system7_0_MIO<47>" LOCATE = SITE "B14" LEVEL 1;
COMP "processing_system7_0_MIO<49>" LOCATE = SITE "C12" LEVEL 1;
COMP "processing_system7_0_MIO<40>" LOCATE = SITE "D14" LEVEL 1;
COMP "processing_system7_0_MIO<42>" LOCATE = SITE "E12" LEVEL 1;
COMP "processing_system7_0_MIO<41>" LOCATE = SITE "C17" LEVEL 1;
COMP "processing_system7_0_MIO<44>" LOCATE = SITE "F13" LEVEL 1;
COMP "processing_system7_0_MIO<43>" LOCATE = SITE "A9" LEVEL 1;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKU;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKL;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKU;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKL;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKU;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKL;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKU;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKL;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKU;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKL;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKU;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKL;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKU;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKL;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKU;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKL;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKU;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKL;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKU;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKL;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKU;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKL;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKU;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKL;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKU;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKL;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKU;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKL;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKU;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKL;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKU;
PIN
        ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>
        = BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram"
        PINNAME CLKBWRCLKL;
TIMEGRP pll_clkout0 = BEL "pll/clkout1_buf" BEL "vga/Vcnt_9" BEL "vga/Vcnt_8"
        BEL "vga/Vcnt_7" BEL "vga/Vcnt_6" BEL "vga/Vcnt_5" BEL "vga/Vcnt_4"
        BEL "vga/Vcnt_3" BEL "vga/Vcnt_2" BEL "vga/Vcnt_1" BEL "vga/Vcnt_0"
        BEL "vga/Hcnt_9" BEL "vga/Hcnt_8" BEL "vga/Hcnt_7" BEL "vga/Hcnt_6"
        BEL "vga/Hcnt_5" BEL "vga/Hcnt_4" BEL "vga/Hcnt_3" BEL "vga/Hcnt_2"
        BEL "vga/Hcnt_1" BEL "vga/Hcnt_0" BEL "vga/buff_offset_15" BEL
        "vga/buff_offset_14" BEL "vga/buff_offset_13" BEL "vga/buff_offset_12"
        BEL "vga/buff_offset_11" BEL "vga/buff_offset_10" BEL
        "vga/buff_offset_9" BEL "vga/buff_offset_8" BEL "vga/buff_offset_7"
        BEL "vga/buff_offset_6" BEL "vga/buff_offset_5" BEL
        "vga/buff_offset_4" BEL "vga/buff_offset_3" BEL "vga/buff_offset_2"
        BEL "vga/buff_offset_1" BEL "vga/buff_offset_0" BEL "vga/HSync" BEL
        "vga/VSync" BEL "vga/G_0" BEL "vga/R_4" BEL "vga/R_3" BEL "vga/R_2"
        BEL "vga/R_1" BEL "vga/R_0" BEL "vga/activeArea" BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_b.B/sel_pipe_0"
        BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_b.B/sel_pipe_1"
        BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_b.B/sel_pipe_2"
        BEL
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_b.B/sel_pipe_3"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<65>"
        PIN
        "ram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/v6_noinit.ram/NO_BMM_INFO.SDP.SIMPLE_PRIM36.ram_pins<64>";
PIN pll/mmcm_adv_inst_pins<2> = BEL "pll/mmcm_adv_inst" PINNAME CLKIN1;
TIMEGRP clk_timing = PIN "pll/mmcm_adv_inst_pins<2>";
PIN system_i/processing_system7_0/processing_system7_0/PS7_i_pins<77> = BEL
        "system_i/processing_system7_0/processing_system7_0/PS7_i" PINNAME
        DMA0ACLK;
PIN system_i/processing_system7_0/processing_system7_0/PS7_i_pins<83> = BEL
        "system_i/processing_system7_0/processing_system7_0/PS7_i" PINNAME
        DMA1ACLK;
PIN system_i/processing_system7_0/processing_system7_0/PS7_i_pins<360> = BEL
        "system_i/processing_system7_0/processing_system7_0/PS7_i" PINNAME
        MAXIGP0ACLK;
TIMEGRP clk_fpga_0 = PIN
        "system_i/processing_system7_0/processing_system7_0/PS7_i_pins<77>"
        PIN
        "system_i/processing_system7_0/processing_system7_0/PS7_i_pins<83>"
        PIN
        "system_i/processing_system7_0/processing_system7_0/PS7_i_pins<360>"
        PIN
        "system_i/processing_system7_0/processing_system7_0/PS7_i_pins<77>"
        PIN
        "system_i/processing_system7_0/processing_system7_0/PS7_i_pins<83>"
        PIN
        "system_i/processing_system7_0/processing_system7_0/PS7_i_pins<360>"
        PIN
        "system_i/processing_system7_0/processing_system7_0/PS7_i_pins<77>"
        PIN
        "system_i/processing_system7_0/processing_system7_0/PS7_i_pins<83>"
        PIN
        "system_i/processing_system7_0/processing_system7_0/PS7_i_pins<360>";
TS_clk_fpga_0 = PERIOD TIMEGRP "clk_fpga_0" 100 MHz HIGH 50%;
TS_clk_timing = PERIOD TIMEGRP "clk_timing" 125 MHz HIGH 50%;
TS_pll_clkout0 = PERIOD TIMEGRP "pll_clkout0" TS_clk_timing * 0.192 HIGH 50%;
SCHEMATIC END;

